tallerxml/facturacio.dtd

<!ELEMENT facturacio (empresa?,factura+)>
    <!ELEMENT empresa (raosocial)>
        <!ELEMENT raosocial (nom,cognom*,adreca,codipostal,poblacio,CIF?,DNI?,NIF?,domiciliat?)>
        <!ATTLIST raosocial tipus NMTOKEN #REQUIRED>
            <!ELEMENT nom (#PCDATA)>
            <!ELEMENT adreca (#PCDATA)>
            <!ELEMENT codipostal (#PCDATA)>
            <!ELEMENT cognom (#PCDATA)>
            <!ELEMENT poblacio (#PCDATA)>
            <!ELEMENT CIF (#PCDATA)>
            <!ELEMENT DNI (#PCDATA)>
            <!ELEMENT NIF (#PCDATA)>
            <!ELEMENT domiciliat EMPTY>
    <!ELEMENT factura (client,linies,data,subtotal,iva,total,rebuts?)>
    <!ATTLIST factura numero NMTOKEN #REQUIRED> 
            <!ELEMENT client (raosocial)>
            <!ELEMENT linies (producte+)>
                <!ELEMENT producte (descripcio,quantitat,preuunitari)>
                <!ATTLIST producte codi NMTOKEN #REQUIRED>
                    <!ELEMENT descripcio (#PCDATA)>
                    <!ELEMENT quantitat (#PCDATA)>
                    <!ELEMENT preuunitari (#PCDATA)>
            <!ELEMENT data (#PCDATA)>
            <!ELEMENT subtotal (#PCDATA)>
            <!ELEMENT iva (#PCDATA)>
            <!ELEMENT total (#PCDATA)>
            <!ELEMENT rebuts (rebut+)>
                <!ELEMENT rebut (data, totalrebut)>
                <!ATTLIST rebut numero NMTOKEN #REQUIRED>
                    <!ELEMENT totalrebut (#PCDATA)>
