tallerxml/lliga.dtd

<!ELEMENT futbol (jornada+)>
    <!ELEMENT jornada (partit+)>
    <!ATTLIST jornada num NMTOKEN #REQUIRED>
        <!ELEMENT partit (dia,equip+)>
        <!ATTLIST partit num NMTOKEN #REQUIRED>
            <!ELEMENT dia (#PCDATA)>
            <!ELEMENT equip (nom,resultat,gols*)>
            <!ATTLIST equip juga NMTOKEN #REQUIRED>
                <!ELEMENT nom (#PCDATA)>
                <!ELEMENT resultat (#PCDATA)>
                <!ELEMENT gols (jugador*)>
                    <!ELEMENT jugador (#PCDATA)>
